* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

body {
  background-image: url(images/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
}


.topnav {
  display: none;
  overflow: hidden;
  background-color:transparent;
  position: relative;
}

.topnav #myLinks {
  display: none;
}

.topnav a {
  color: black;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}
.topnav h1 {
  color: black;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

.topnav a.icon {
  background: transparent;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}
nav {
  display: flex;
  width: 85%;
  margin: auto;
  padding: 20px 0;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 100px;
  cursor: pointer;
}

nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav ul li {
  list-style: none;
  margin: 10px 20px;
}

nav ul li a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
}

nav ul li a:hover {
  color: orange;
}
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70vh;
  width: 100%;
  margin-top: 2%;
}

.detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 100%;
  margin-left: 4%;
}

.images {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
}

.detail h1 {
  font-size: 50px;
  color: #212121;
  margin-bottom: 20px;
  text-align: center;
}

span {
  color: orange;
}

.detail p {
  color: #555;
  line-height: 22px;
  text-align: center;
}

.detail a {
  background: #212121;
  padding: 10px 18px;
  text-decoration: none;
  font-weight: bold;
  color: #fff;
  margin: 30px 0;
  border-radius: 5px;
}
.images img {
  height: 80%;
  border: none;
  border-radius: 5%;
}


footer h2 {
  color: black;
  font-size: 15px;
  text-align: center;
}
footer h2:hover {
  color: orange;
}
.social {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}
.social a {
  font-size: 15px;
  color: #212121;
  margin-right: 30px;
}

.social a:hover {
  color: orange;
}

@media only screen and (max-width: 420px) {
  body {
    background-image: none;
  }
  nav ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh;
    width: 100%;
    margin-top: 70%;
  }

  .detail h1{
    font-size: 20px;
    text-align: center;
  }

  .detail p{
    text-align: center;
  }

  footer {
    margin-top: 15%;
  }
}
@media only screen and (max-width: 540px) {
  .container{
    margin-top: 35% !important;
  }

  .detail h1{
    font-size: 25px;
  }
}

@media only screen and (max-width: 760px) {
  body{
    height: 100vh;
  }
  #navbar{
    display: none;
  }
  .topnav {
    display: block;
  }
  nav ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh;
    width: 100%;
    margin-top: 25%;
  }
  .detail{
    width: 100%;
    margin: 0 10px;
  }

  .detail h1{
    font-size: 35px;
    text-align: center;
    margin-left: 5%;
  }

  .detail p{
    text-align: center;
    margin: 0 15px;
    /* padding: 5px; */
  }

  footer {
    margin-top: 25%;
  }
}
